@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'articles.scss';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.nav-bar {
  padding: 12px 48px;
  background-color: #e7e7e7;
  height: 50px;
  border-bottom: 1px solid gray;
  margin-bottom: 32px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

// .styled_form {
//   width: 400px;
//   border: 1px solid green;
// }